.categories_block {
    background-color: #33A052;
    width: 204px;
    height: 169px;
    text-align: center;
    border-radius: 12px;

    .categories_inner_block {
        margin: 8px 8px 0px 8px;
        img {}

        p {
            margin: 0px;
        }
    }
}