.product_main_block {
    p {
        font-size: 12px;
    }

    .product_description {
        p:nth-child(2) {
            font-weight: bold;
            margin-bottom: 4px;
        }

        p:nth-child(3) {
            margin: 0px 0px 18px 0px;
        }
    }

    .product_price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 48px;

        p {
            // display: inline-block;
            font-weight: bold;
        }

        button {
            background-color: #33A052;
            width: 72px;
            height: 28px;
            border-radius: 16px;
            border: none;
            color: white;
        }
    }
}