.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_logo {
        display: flex;
        align-items: center;
    }

    .logo_name {
        margin: 0px 0px 0px 12px;
    }

    .header_search_book {
        position: relative;
        .search_book_input {
            width: 286px;
            height: 36px;
            border-radius: 12px;
            padding: 0px;
        }

        .search_book_btn {
            position: absolute;
            padding: 0px;
            right: 2px;
            width: 28px;
            height: 36px;
            background-color: #33A052;
            border: none;
            border-radius: 0px 10px 10px 0px;
            bottom: 1px;
        }
    }

    .login {
        a {
            margin: 20px;   
        }
    }
}